@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
    --color-one: #004254;
    --color-two: #f3f1f4;
    --color-three: #fd518d;
    --color-four: #45a1b5;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Patua One', cursive;
    font-size: 16px;
    background-color: var(--color-one);
    color: var(--color-two);
}

/*######################################
                HEADER
######################################*/

.header {
    padding: 0.5rem;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: var(--color-four);
    text-shadow: 3px 3px var(--color-two);
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);
}

.header-title-span {
    color: var(--color-three);
}

/*######################################
                MAIN
######################################*/

.main-content {
    padding: 0 1rem 1rem;
}

.current-player {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    text-shadow: 0 0 8px hsla(0, 0%, 0%, 0.2);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    grid-template-rows: repeat(3, 200px);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
}

.game-board-cube {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-two);
    padding: 1rem;
}

.game-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.3);
    display: none;
}

.game-modal.active {
    display: block;
}

.game-modal-container {
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 200px);
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-one);
    color: var(--color-two);
    border-radius: 2rem;
    box-shadow: 0 0 10px hsla(0, 0%, 0%,0.6);
    text-shadow: 0 0 8px black;
}

.game-modal-header{
    font-size: 2.5rem;
}

.game-modal-outcome {
    font-size: 2rem;
}

.game-modal-footer {
    font-size: 1.5rem;
}

.form-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.3);
    display: none;
}

.form-modal.active {
    display: block;
}

.form-modal-container {
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 200px);
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--color-one);
    color: var(--color-two);
    border-radius: 2rem;
    box-shadow: 0 0 10px hsla(0, 0%, 0%,0.6);
    text-shadow: 0 0 8px black;
}

.form-modal-input {
    padding: 0.2rem 1rem;
    border: 2px solid var(--color-four);
    border-radius: 1rem;
}

.form-modal-input:hover {
    border: 2px solid var(--color-three);
}

.form-modal-submit {
    border: none;
    background-color: var(--color-four);
    padding: 0.5rem 2rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    color: var(--color-two)
}

.form-modal-submit:hover {
    background-color: var(--color-three);
}

/*######################################
                FOOTER
######################################*/

.footer {
    padding: 1rem;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);
}

.footer-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--color-two);
    text-shadow: 1.5px 1.5px var(--color-four);
}

.footer-link:hover {
    text-shadow: 1.5px 1.5px var(--color-three);
}