body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.game-board-cube {
    border: 1px solid black;
}