@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Patua One', cursive;    
    font-size: 16px;
}

/*######################################
                HEADER
######################################*/

.header {
    padding: 1rem;
    font-size: 24px;
}

/*######################################
                MAIN
######################################*/

.main-content {
    padding: 0 1rem;
}

.current-player {
    text-align: center;
    padding: 1rem;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.game-board-cube {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.game-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.3);
    display: none;
}

.game-modal.active {
    display: block;
}

.game-modal-container {
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 200px);
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
}

.form-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.3);
    display: none;
}

.form-modal.active {
    display: block;
}

.form-modal-container {
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 200px);
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
}

/*######################################
                FOOTER
######################################*/

.footer {
    padding: 1rem;
}